
  body {
    background-color: grey;
    display: flex;
    direction: row;
  }
  .App {
    text-align: center;
    justify-content: center;
  }
  .preview {
    background-color: blue;
  }
  
  textarea, .preview {
    min-height: 400px;
  }